<app-header></app-header>
<ion-content>
  <ion-row class='d-flex justify-conent-center h-100'>
    <ion-col class='align-self-center'>
      <ion-card>
        <ion-card-header class='text-center'>
          <ion-card-title>Profile</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row class='ion-padding-bottom'>
              <ion-col>
                <ion-label>User Name</ion-label>
              </ion-col>
              <ion-col>
                <ion-text>{{user.username}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class='ion-padding-bottom'>
              <ion-col>
                <ion-label>Email</ion-label>
              </ion-col>
              <ion-col>
                <ion-text>{{user.email}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class='ion-padding-bottom'>
              <ion-col>
                <ion-label>Mobile</ion-label>
              </ion-col>
              <ion-col>
                <ion-text>{{user.mobile}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class='ion-padding-bottom'>
              <ion-col>
                <ion-label>Password</ion-label>
              </ion-col>
              <ion-col>
                <ion-text color='primary' [routerLink]="['/forget-password']" routerLinkActive="router-link-active" >Change Password</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-footer></app-footer>