<app-header></app-header>
<ion-content>
  <ion-row>
    <ion-col class='d-flex flex-row justify-content-center'>
      <ion-text> Order Id: {{order.orderId}} </ion-text>
    </ion-col>
  </ion-row>
  <div *ngIf="order">
    <ion-item-group *ngFor="let orderItem of order.orderItems">
      <app-order-item [orderItem]='orderItem'></app-order-item>
    </ion-item-group>
  </div>
  <ion-item-group>
    <ion-item class='text-center'>
      <ion-label class='ion-padding-end'>Total Amount</ion-label>
      <ion-text>{{order.totalAmount}}</ion-text>
    </ion-item>
    <ion-button expand='full' shape='round' [routerLink]="['/userhome/main']">Buy More</ion-button>
  </ion-item-group>
</ion-content>
<app-footer></app-footer>