<ion-header>
  <ion-toolbar class='d-flex flex-row justify-content-center'>
    <ion-buttons size='3' slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item-group class='header-item d-flex justify-content-end align-items-center'>
      <ion-item [routerLink]="['/userhome/cart']" routerLinkActive="router-link-active"
        class='d-flex flex-row justify-content-between align-items-center'>
        <ion-icon size='large' name="cart"></ion-icon>
        <ion-text class='cartquanity' class='ion-padding'>{{cart.quantity}}</ion-text>
      </ion-item>
      <ion-item class='logo-item align-items-center'>
        <ion-img class='logo' src='assets/images/logo.png'></ion-img>
      </ion-item>
    </ion-item-group>
  </ion-toolbar>
  <ion-item class='ion-padding'>
    <ion-img src='assets/images/banner.png'></ion-img>
  </ion-item>
</ion-header>