<app-homeheader></app-homeheader>

<ion-content>
    <ion-row class='d-flex h-100 justify-content-center'>
        <ion-col class='align-self-center'>
            <ion-card>
                <ion-card-header>
                    <h1 class='text-center font-weight-bolder'>New Password</h1>
                </ion-card-header>
                <ion-card-content>
                    <ion-text class='ion-padding d-flex justify-content-center'>
                        <p>Enter new Password</p>
                    </ion-text>
                    <form (submit)="submit()">
                        <ion-item class='border ion-margin-bottom'>
                            <ion-icon name='lock' class='ion-padding-end'></ion-icon>
                            <ion-input type='password' [(ngModel)]="password" required
                            pattern='^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$'
                            #passwordvar='ngModel' name='password' placeholder='Enter New Password Here' class=''></ion-input>
                        </ion-item>
                        <span *ngIf='passwordvar.invalid && (passwordvar.dirty || passwordvar.touched)' class='error_msg'>
                            <span *ngIf='!!passwordvar.errors.required'>
                                Enter Password
                            </span>
                            <span *ngIf='!!passwordvar.errors.pattern'>
                                Min one small, capital,numeric and special character.
                            </span>
                        </span>
                        <ion-item class='border ion-margin-bottom'>
                            <ion-icon name='lock' class='ion-padding-end'></ion-icon>
                            <ion-input type='password' [(ngModel)]="confirmPassword" required
                                pattern='^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$'
                                #confirmpassword='ngModel' name='confirmPassword' placeholder='Re-enter password'
                                class=''></ion-input>
                        </ion-item>
                        <span *ngIf='confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)' class='error_msg'>
                            <span *ngIf='!!confirmpassword.errors.required'>
                              Enter Password
                            </span>
                            <span *ngIf='!!confirmpassword.errors.pattern'>
                              Min one small, capital,numeric and special character.
                            </span>
                          </span>
                        <ion-button type='submit' expand='full' shape='round'>Submit</ion-button>
                        <ion-item class='d-flex justify-content-center'>
                            <a [routerLink]="['/']" routerLinkActive="router-link-active" class='align-self-center'
                                style='font-size: 18px'>Login here</a>
                        </ion-item>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>