<app-header></app-header>

<ion-content>
  <ion-item class='banner ion-margin-top'>
    <ion-img class='banner-img' src='assets/images/banner.png'></ion-img>
  </ion-item>
  <ion-row class='ion-margin-top d-flex justify-content-center'>
    <ion-col class='col ion-text-center'>
        <ion-text class='heading ion-padding'>Shop by Category</ion-text>
    </ion-col>
  </ion-row>

  <!-- <ion-row *ngFor="let categoryArray of categories; let rowIndex=index">
      <ion-col>
        <ion-item-group>
          <ion-slides [options]='sliderOpts'>
            <ion-slide *ngFor="let category of categoryArray">
              <ion-card class='cat-ion-card col-12' [routerLink]="['/userhome/category/prod', category.categoryId]">
                <ion-card-content>
                  <ion-img src='{{catImageURL + category.categoryId}}.jpg'></ion-img>
                  <ion-text class='ion-padding-top ion-margin-top text-center font-weight-bold text-uppercase'>
                    {{category.categoryName}}</ion-text>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-item-group>
      </ion-col>
    </ion-row> -->


  <ion-row class='ion-padding'>
    <ion-col class='col-4 border border-dark ion-text-center' *ngFor='let category of categories' [routerLink]="['/userhome/category/prod', category.categoryId]">
      <ion-img src='{{catImageURL + category.categoryId}}.jpg'></ion-img>
      <ion-text class='category-name ion-padding-top ion-margin-top text-uppercase'>
        {{category.categoryName}}</ion-text>
    </ion-col>
  </ion-row>




  <ion-item class='banner ion-margin-top ion-margin-bottom' [routerLink]="['/userhome/profile']"
    routerLinkActive="router-link-active">
    <ion-img class='banner-img' src='assets/images/banner1.png'></ion-img>
  </ion-item>

  <ion-row class='d-flex flex-row justify-content-center'>
    <ion-col class='col-12 ion-text-center'>
        <ion-text class='heading ion-padding'>Products</ion-text>
    </ion-col>
  </ion-row>
  <div *ngIf="products" class='mt-3'>
    <ion-item-group *ngFor="let product of products">
      <app-mainpageproduct [product]="product"></app-mainpageproduct>
    </ion-item-group>
  </div>
</ion-content>