<app-header></app-header>
<ion-content>
  <ion-row class='d-flex justify-content-center h-100'>
    <ion-card class='align-self-center'>
      <ion-card-header class='text-center'>
        <ion-card-title>Contact Us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class='d-flex justify-content-center'>
          <ion-label class='ion-padding-end'>
            Email:
          </ion-label>
          <ion-text>tradingcrimson@gmail.com</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
<app-footer></app-footer>