<app-homeheader></app-homeheader>

<ion-content>
  <ion-row class='d-flex h-100 justify-content-center'>
    <ion-col class='align-self-center'>
      <ion-card>
        <ion-card-header>
          <h1 class='text-center font-weight-bolder'>Reset Password</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-text class='ion-padding d-flex justify-content-center'>
                <p>Reset Password code is sent to {{email}}.</p>
              </ion-text>
          <ion-text class='ion-padding d-flex justify-content-center'>
            <p>Enter reset password code.</p>
          </ion-text>
          <form (submit)="submit()">
          <ion-item class='border ion-margin-bottom'>
            <ion-icon name='mail' class='ion-padding-end'></ion-icon>
            <ion-input type='text' [(ngModel)]="code" name='code' placeholder='Reset Password Code' class=''></ion-input>
          </ion-item>
          <ion-button type='submit' expand='full' shape='round'>Submit</ion-button>
          <ion-item class='d-flex justify-content-center'>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class='align-self-center' style='font-size: 18px'>Login here</a>
          </ion-item>
        </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>