<app-header></app-header>
<ion-content>
  <ion-row class='d-flex h-100 justify-content-center'>
    <ion-col class='align-self-center'>
      <ion-card>
        <ion-card-header class='d-flex flex-column justify-content-center'>
          <ion-icon class='signin-icon' name="contact" class='align-self-center'></ion-icon>
          <ion-text class='signin-heading align-self-center font-weight-bolder text-dark'>
            Edit Profile
          </ion-text>
        </ion-card-header>
        <ion-card-content class='ion-padding-top'>
          <form (submit)='submit(regForm)' #regForm='ngForm'>
            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="person" class='ion-padding-end'></ion-icon>
              <ion-input type='text' name='username' [(ngModel)]="user.username" required minlength='5'
                #username='ngModel' placeholder='Username' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='username.invalid && (username.dirty || username.touched)' class='error_msg'>
              <span *ngIf='!!username.errors.required'>
                Enter username.
              </span>
              <span *ngIf='!!username.errors.minlength'>
                Username should be min length.
              </span>
            </span>
            <span class='error_msg'>
              {{errorMessages['username_error']}}
            </span>
            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="mail" class='ion-padding-end'></ion-icon>
              <ion-input type='email' name='email' [(ngModel)]="user.email" required #email='ngModel'
                pattern='([\w-\+])+(\.[\w]+)*@[\w-]+(\.[\w]+)*(\.[a-z]{2,})' placeholder='Email' class='ion-padding'>
              </ion-input>
            </ion-item>
            <span *ngIf='email.invalid && (email.dirty || email.touched)' class='error_msg'>
              <span *ngIf='!!email.errors.required'>
                Enter Email.
              </span>
              <span *ngIf='!!email.errors.pattern'>
                Enter Proper Email Id.
              </span>
            </span>
            <span class='error_msg'>
              {{errorMessages['email_error']}}
            </span>
            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="phone-portrait" class='ion-padding-end'></ion-icon>
              <ion-input type='tel' name='mobile' [(ngModel)]="user.mobile" required #mobile='ngModel'
                pattern='[6-9][0-9]{9}' placeholder='Mobile' class='ion-padding'>
              </ion-input>
            </ion-item>
            <span *ngIf='mobile.invalid && ( mobile.dirty || mobile.touched )' class='error_msg'>
              <span *ngIf='!!mobile.errors.required'>
                Enter Mobile.
              </span>
              <span *ngIf='!!mobile.errors.pattern'>
                Enter valid Mobile Number.
              </span>
            </span>
            <span class='error_msg'>
              {{errorMessages['mobile_error']}}
            </span>
            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="business" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='company' [(ngModel)]="user.userDetails.companyName" required #company='ngModel' placeholder='Company Name' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='company.invalid && (company.dirty || company.touched)' class='error_msg'>
              <span *ngIf='!!company.errors.required'>
                Enter Company Name
              </span>
            </span>

            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="home" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='home' [(ngModel)]="user.userDetails.address.doorNo" required
                pattern='[a-zA-Z0-9]{4,}' #doorNo='ngModel' placeholder='Door No' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='doorNo.invalid && (doorNo.dirty || doorNo.touched)' class='error_msg'>
              <span *ngIf='!!doorNo.errors.required'>
                Enter Door Number
              </span>
              <span *ngIf='!!doorNo.errors.pattern'>
                only alpha numeric.
              </span>
            </span>

            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='street' [(ngModel)]="user.userDetails.address.street" required
                #street='ngModel' placeholder='Street Name' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='street.invalid && (street.dirty || street.touched)' class='error_msg'>
              <span *ngIf='!!street.errors.required'>
                Enter Street Name
              </span>
            </span>

            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='city' [(ngModel)]="user.userDetails.address.city" required #city='ngModel'
                placeholder='City' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='city.invalid && (city.dirty || city.touched)' class='error_msg'>
              <span *ngIf='!!city.errors.required'>
                Enter City Name
              </span>
            </span>

            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='country' [(ngModel)]="user.userDetails.address.country" required
                #country='ngModel' placeholder='Country' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='country.invalid && (country.dirty || country.touched)' class='error_msg'>
              <span *ngIf='!!country.errors.required'>
                Enter Country Name
              </span>
            </span>

            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='code' [(ngModel)]="user.userDetails.address.code" required
                #code='ngModel' placeholder='PIN CODE' class='ion-padding'></ion-input>
            </ion-item>
            <span *ngIf='code.invalid && (code.dirty || code.touched)' class='error_msg'>
              <span *ngIf='!!code.errors.required'>
                Enter Code
              </span>
            </span>


            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-select [(ngModel)]="user.userDetails.userCategory.id" name="category" placeholder="Select Category"
                class='ion-padding'>
                <ion-select-option *ngFor="let userCategory of userCategories" [value]="userCategory.id">
                  {{userCategory.categoryName}}
                </ion-select-option>
              </ion-select>
            </ion-item>


            <ion-item class='border border-rounded ion-margin-bottom'>
              <ion-icon name="arrow-dropup" class="ion-padding-end"></ion-icon>
              <ion-input type='text' name='gst' [(ngModel)]="user.userDetails.gst"
                #gst='ngModel' placeholder='gst' class='ion-padding'></ion-input>
            </ion-item>

            <ion-button [disabled]='!regForm.valid' type='submit' expand='full' shape='round'
              class='text-center signIn-button'>
              Update
            </ion-button>
          </form>

          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-footer></app-footer>

