<ion-header>
  <ion-row>
    <ion-col class='d-flex align-items-center justify-content-between'>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <ion-icon size='large' name="arrow-back"></ion-icon>
      </a>
      <h1 class='app-heading ion-padding-end'>Crimson</h1>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-row class='d-flex h-100 justify-content-center'>
    <ion-col class='align-self-center'>
      <ion-card>
        <ion-card-header>
          <h1 class='text-center font-weight-bolder'>Forgot Password?</h1>
        </ion-card-header>
        <ion-card-content>
          <ion-text class='ion-padding d-flex justify-content-center'>
            <p>Enter your register email.</p>
          </ion-text>
          <ion-item class='border ion-margin-bottom'>
            <ion-icon name='mail' class='ion-padding-end'></ion-icon>
            <ion-input type='email' placeholder='Email' class=''></ion-input>
          </ion-item>
          <ion-button expand='full' shape='round'>Reset Password</ion-button>
          <ion-item class='d-flex justify-content-center'>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" style='font-size: 18px'>Login here</a>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>